{
  "env": {
    "testing": {
      "plugins": ["@babel/plugin-transform-modules-commonjs"],
      "presets": [
        [
          "@babel/preset-env",
        ]
      ]
    },
    "production": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false
          }
        ]
      ]
    }
  }
}
