{
  "env": {
    "testing": {
      "presets":[
        ["env", {
          "targets": {
            "node": "current"
          }
        }]
      ]
    },
    "production": {
      "presets":[
        ["env", { "modules": false }]
      ]
    }
  }
}
